:root {
  --color-green-dark: #577777;
  --color-green-light: #009688;
  --color-green-lighter: #98cdcd;

  --color-white: #fff;
  --color-wheat: wheat;

  --color-black: #000;
  --color-black-light: #000000bf;

  --color-red: #b22d2d;
}
